
.card {
    width: 100% !important;
    height: 180px !important;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 180px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: translateX(0%) rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.rounded {
    border-radius: 50% !important;
}

.ui.mini.image {
    width: 45px !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.m20 {
    margin: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb35 {margin-bottom: 35px !important;}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.trash {
    color: red;
    cursor: pointer;
}

.pencil {
    cursor: pointer;
}
